
.findBox{width: 100%;height: auto;}
.cts{
	width: 86%;
	height: 290px;
	position: relative;
	margin:auto;
	margin-bottom: 15px;
}
.pic_box{
	width: 100%;
	height: 200px;
	background-size: cover;
	background-position: center;
	position: relative;
	background-color: #E6CAFF;
	/*background-image: url(../assets/cs02.jpg);*/
}
.label{
	position: absolute;
	top: 5%;
	left: -2%;
	background-color:#84C1FF;
	color:#fff;
	font-size: 16px;
	width: 70px;
	text-align: center;
}
.find_authod{
	position: absolute;
	bottom: 6px;
	left: 3%;
	color: #fff;
}
.info_box{
	/*border:1px solid #666;*/
	width: 100%;
	height: 80px;
	box-shadow: 0 0 10px #666;;
}
.title{
	color: #000;
    font-size: 18px;
    font-weight: bold;
    width: 90%;
    display: block;
    margin: auto;
    padding-top: 5px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.subTitle{
	text-align: left;
    margin-left: 5%;
    padding-top: 5px;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 14px;
}