*{padding: 0;margin: 0;}
input,button,select,textarea{outline:none;border:none;background:none;}
ul li{list-style-type:none;list-style:none}

.mint-radiolist{
	.mint-cell{
		display: block;
	    float: left;
	    min-height: 30px;
	}
	.mint-cell-wrapper{
		background-image:none;
	}
	.mint-cell:last-child{
		background-image:none;
	}
	.mint-radiolist-title{
		font-size: 15px;
		margin-left: -7%;
	}
}

/* 开始过渡阶段,动画出去阶段 */
.fade-enter-active,.fade-leave-active{
	transition: all 0.2s ease-out;
  }
  /* 进入开始 */
  .fade-enter{
	// transform: translateY(-500px);
	opacity: 0;
  }
  /* 出去终点 */
  .fade-leave-active{
	// transform: translateY(500px);
	opacity: 0;
  }
