
$main_color:#84C1FF;
@mixin web_style($stylename,$value, $options: -webkit -moz -o -ms){
	#{$stylename}:$value;
	 @each $option in $options {
		#{$option}-$stylename:$value;
	 }
  }
.publish{
	width: 100%;
	height: 100%;
	position: relative;
	padding-top: 20px;
}
.back_icon{
	width: 20px;
    height: auto;
	position: absolute;
    top: 3%;
    left: 5%;
}
.topTitle{
	width:100%;
	height: auto;
	font-size: 30px;
	text-align: center;
	font-weight: bold;
	color: $main_color;
}

@mixin input_style{
	opacity: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	position: relative;
}
@mixin img_p_style{
	position: absolute;
	text-align: center;
	bottom: 10%;
	color: $main_color;
	font-size: 14px;
	width: 100%;
}
@mixin textarea_style{
	box-sizing: border-box;
	padding-top: 5px;
	padding-left: 5px;
	display: block;
	margin:auto;
	margin-top: 10px;
	border:1px solid $main_color;
	width: 80%;
	height: 100px;
	font-size: 14px;
}

.publish_box{
	width: 90%;
	height: auto;
	margin:auto;
}
.publish_title{
	border-bottom: 1px solid $main_color;
    font-size: 14px;
    text-align: center;
    width: 80%;
    display: block;
    margin: 20px auto; 
}

.publish_coverImg{
	width: 80%;
	height: 100px;
	display: block;
	margin:auto;
	border:1px solid $main_color;
	position: relative;
	overflow: hidden;
	input{
		@include input_style
	}
	p{
		@include img_p_style
	}

}
.preImg{
	position: absolute;
	width: auto;
	height: 100%;
	top: 0;
	right: 50%;
	@include web_style(transform,translateX(50%));
}
.publish_img{
	width: 98%;
	height: 70px;
	display: block;
	margin:auto;
	border:1px solid $main_color;
	position: relative;
	margin-bottom: 10px;
	overflow: hidden;
	input{
		@include input_style
	}
	p{
		@include img_p_style
	}
}
.public_icon{
	position: absolute;
	right: 50%;
	// transform: translateX(50%);
	@include web_style(transform,translateX(50%));
	top: 10%;
	width: 40px;
}
.public_icon2{
	position: absolute;
	right: 50%;
	// transform: translateX(50%);
	@include web_style(transform,translateX(50%));
	top: 10%;
	width: 20px;
}


/*.publish_coverImg input,.publish_img input{
	opacity: 0;
	width: 100%;
	height: 100%;
}*/
/*.publish_coverImg p,.publish_img p{
	position: absolute;
	text-align: center;
	bottom: 10%;
	color: $main_color;
	font-size: 14px;
	width: 100%;
}*/
.publish_text textarea{
	@include textarea_style
}
.publish_describe textarea{
	@include textarea_style
	width: 98%;
	height: 70px;
	margin-bottom: 10px;
}

.publish_choose{
	width: 100%;
	height: 100px;
	box-sizing: border-box;
    padding-left: 7%;
}
.content_title{
	font-size: 15px;
	color:#888896;
	margin-bottom: 5px;
}
.public_button_box{margin-top: 20px;}
.addText_icon{
	width: 40px;
	margin-left: 10px;
	margin-right: 8px;
}
.addPic_icon{
	width: 55px;
	margin-right: 8px;
}
.del_icon{
	width: 50px;
}
.publish_btn{
	background-color: $main_color;
	margin:20px auto;
}







